<!DOCTYPE html>
<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body class='body-style'>

<div class="row row-height">
  <div class="col div-card"  >
    <div class="card">
      <div class="container">
       <h5><b>Manage &nbsp;User</b><span class="glyphicon glyphicon-user"></span></h5> 
        <h5>
          <a class="clean-font" routerLink="/register" routerLinkActive="active">ADD &nbsp;<span class="glyphicon glyphicon-plus"></span></a>
          <br/>
          <br/>
          <a class="clean-font" routerLink="/userlistview" routerLinkActive="active">View&nbsp;<span class="glyphicon glyphicon-th-list"></span></a>
        </h5>
      </div>
    </div>
  </div>

  <div class="col div-card" >
    <div class="card">
     <div class="container">
        <h5><b>Manage company</b><span class="glyphicon glyphicon-th-large"></span></h5> 
        <h5>
          <a class="clean-font" routerLink="/addcompany" routerLinkActive="active">ADD&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
          <br/>
          <br/>
          <a class="clean-font" >View&nbsp;<span class="glyphicon glyphicon-th-list"></span></a>
        </h5>
     </div>
    </div>
  </div>

  <div class="col div-card" >
    <div class="card">
     <div class="container">
        <h5><b>Manage company</b><span class="glyphicon glyphicon-th-large"></span></h5> 
        <h5>
          <a class="clean-font" routerLink="/addcompany" routerLinkActive="active">ADD&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
          <br/>
          <br/>
          <a class="clean-font" >View&nbsp;<span class="glyphicon glyphicon-th-list"></span></a>
        </h5>
     </div>
    </div>
  </div>

  <div class="col div-card" >
    <div class="card">
     <div class="container">
        <h5><b>Manage company</b><span class="glyphicon glyphicon-th-large"></span></h5> 
        <h5>
          <a class="clean-font" routerLink="/addcompany" routerLinkActive="active">ADD&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
          <br/>
          <br/>
          <a class="clean-font" >View&nbsp;<span class="glyphicon glyphicon-th-list"></span></a>
        </h5>
     </div>
    </div>
  </div>

  <div class="col div-card" >
    <div class="card">
     <div class="container">
        <h5><b>Manage company</b><span class="glyphicon glyphicon-th-large"></span></h5> 
        <h5>
          <a class="clean-font" routerLink="/addcompany" routerLinkActive="active">ADD&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
          <br/>
          <br/>
          <a class="clean-font" >View&nbsp;<span class="glyphicon glyphicon-th-list"></span></a>
        </h5>
     </div>
    </div>
  </div>

  <div class="col div-card" >
    <div class="card">
     <div class="container">
        <h5><b>Manage company</b><span class="glyphicon glyphicon-th-large"></span></h5> 
        <h5>
          <a class="clean-font" routerLink="/addcompany" routerLinkActive="active">ADD&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
          <br/>
          <br/>
          <a class="clean-font" >View&nbsp;<span class="glyphicon glyphicon-th-list"></span></a>
        </h5>
     </div>
    </div>
  </div>

</div>
</body>
</html> 