<div class="wrapper">
  <form class="form-signin" (ngSubmit)="onSubmit()" >
    <h2 class="clean-font">Please login</h2>

    <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" name="username" required autofocus="" (ngModelChange)="valuechange($event)"/>
    
    <div class="errorMsg" [hidden]="ErrorUserName">Invalid Username</div>
    <br />
    <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required (ngModelChange)="valuechange($eventx)"/>
    <div class="errorMsg" [hidden]="ErrorPassword">Invalid Password</div>
    <br/>
    <div class="form-group radio" *ngFor= "let role of roleList">
      <!-- <label class="center-block"><input type="radio" [(ngModel)]="role.role_id"  [ngModelOptions]="{standalone: true}" value="1">{{role.role_name}}</label> -->
      <input #widget
        class='with-gap'
        name='statusGroup'
        type='radio'
        [id]='role.role_id'
        [value]='role.role_id'
        [(ngModel)]='role_id'
       />{{role.role_name}}
    </div>
    <br/>
    <button class="btn btn-primary btn-block" type="submit">Login</button>
  </form>
</div>

