<div class="wrapper">
  <form class="form-signin" (ngSubmit)="onSubmit()" >
    <h2 class="clean-font">Please login</h2>

    <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" name="username" required autofocus="" (ngModelChange)="valuechange($event)"/>
    <div class="errorMsg" [hidden]="ErrorUserName">Invalid Username</div>
    <br/>
    <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required (ngModelChange)="valuechange($eventx)"/>
    <div class="errorMsg" [hidden]="ErrorPassword">Invalid Password</div>
    <br/>
    <button class="btn btn-primary btn-block" type="submit">Login</button>
    <!-- <div class="form-group">
      <br/>
       <label >
        <span class="register-text"  routerLink="/register" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;<a>Register Here</a></span>
      </label> 
    </div> -->
    <div class="form-group">
      <br/>
       <label >
        <span class="register-text"  routerLink="/adminlogin" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;<a>Admin Login</a></span>
      </label> 
    </div>
  </form>
</div>

