/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');


.html {
    background: #ffffff;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

 .form-bckg{
    background-color: red;
}

.clean-font {
    color: #8f8f8f;
    font-weight: 200;
}

.navbar.navbar-clean {
    background: #fff;
    border-radius: 0;
    border-bottom: 1px solid #bfbfbf;
    color: #8f8f8f;
}

.navbar.navbar-clean .navbar-brand {
    font-weight: 200;
}

.navbar.navbar-clean a {
    color: #8f8f8f;
}

.navbar.navbar-clean ul > li > a:hover,
.navbar.navbar-clean li.open a {
    background: #fafafa;
}

.navbar.navbar-clean a i {
    position: relative;
    top: 1px;
    margin-left: 6px;
}

Required for Dropdowns
.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
     outline: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 15px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fafafa;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: none;
}
.dropdown-menu:before {
    content: "\00a0";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -6px;
    border: 1px solid #8f8f8f;
    border-right: 0;
    border-bottom: 0;
    background-color: #fafafa;
    left: 10px;
    -webkit-transform: rotate(48deg) skew(5deg);
    transform: rotate(48deg) skew(5deg);
}

li .dropdown-menu:before {
    height: 0;
    width: 0;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #bfbfbf;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    text-decoration: none;
    line-height: 2;
    color: #8f8f8f;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #808080;
    background-color: #f3f3f3;
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0;
}
.dropdown-menu-right {
    left: auto;
    right: 0;
}
.dropdown-menu-left {
    left: 0;
    right: auto;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
}
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}
.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}
.button-group,
.button-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.button-group > .button,
.button-group-vertical > .button {
    position: relative;
    float: left;
}

.register-text {
    margin-left:88px;
    cursor: pointer;
    text-align: center;
}

.errorMsg {
    color: red;
}


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #66b3d2 !important;
    transition: box-shadow .25s;
    border-radius: 2px;
    height: 258px !important;
    width: 270px !important;
}

.heading-class{
    padding-top: 60px !important;
}

.div-card {
    cursor: pointer;
}

.header-class{
    background-color:   #337ab7!important;

}

.footer-class {
    background-color:   #337ab7!important;
    text-align: center;
}